.homebutton {
    position: absolute;
    left: 2px;
    top: 2px;
    padding: 6px;
    border-radius: 0;
    transition:
        opacity 150ms ease,
        background-color 150ms ease;
}

.homebutton:hover {
    opacity: 0.6;
    background-color: #111;
}
